html {
	height: 100%;
	background-image: url(http://wallpoper.com/images/00/24/34/01/flags-italy_00243401.jpg);
	background-size: cover;
}

.title{

	text-align:center;
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-family: 'Meddon', cursive;

}
h3{
  text-align:center;
  margin: 0 auto;
  padding: 0;
  border:0;
  font-family: 'Open Sans', sans-serif;
}
.container{
  margin:0 auto;
  position: relative;
  height: 100%;
  width: auto;
  /*border: 3px solid blue;*/
}

#white{

  position: absolute;
  margin: 0 33%;
  height: 100%;
  width: 33.5%;
  /*border: 3px solid brown;*/
}

#board{

  background-color: black;
  margin: 8%;
  height: 65%;
  width: 80%;
  border: 3px solid blue;
}

.square{
	float:left;
	box-sizing: border-box;
	height: 33%;
	background-color: white;
	width: 33%;
	border: 5px solid black;
  text-align: center;
}

#green{
 
  position: absolute;
  margin: 0 66% 0 0 ;
  height: 100%;
  width: 33%;
  /*border: 3px solid red;*/
}

#instruct{
  position: absolute;
  margin: 8% 18% 9% 13%;
  border: 3px solid black;
  height: 70%;
  width: 70%;
  background-color: #3B5323;
  border-radius: 8px;
}

#instructeng{
  position: absolute;
  margin: 8% 18% 9% 13%;
  border: 3px solid black;
  height: 70%;
  width: 70%;
  background-color: #3B5323;
  border-radius: 8px;
  display: none;
}

#english{
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  color: #009ACD;
  text-align: justify;
}

#headins{
  text-align: center;
  margin:0;
  padding:5px 0 0 0;
  font-family: 'Open Sans', sans-serif;
  color: #009ACD;
}

#spanish{
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  color: #009ACD;
  text-align: justify;
}

#red{
  
  position: absolute;
  margin: 0 0 0 66%;
  height: 100%;
  width: 34%;
  /*border: 3px solid lime;	*/
}

#p1counter{
  position:absolute;
  margin: 8% 18% 9% 13%;
  border: 3px solid black;
  height: 35%;
  width: 70%;
  background-color: #3B5323;
  border-radius: 8px;
 
}

#p2counter{
  position:absolute;
  margin: 38% 18% 0% 13%;
  border: 3px solid black;
  height: 35%;
  width: 70%;
  background-color: #yellow;
  border-radius: 8px;
 }

button{ 
float: left;
position: relative;
top: 0;
cursor: pointer;
width: 120px;
height: 20px;
background: #4D0000;
border-radius: 5px;
box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
margin: 0 auto;
color: red;
text-align: center;
user-select: none;
transition: all 0.2s ease;
}